<footer>
  <div class="footer-inner">
    <img src="{{ site.baseurl }}/images/JGSES_logo_w_off-white_book-removebg.png" 
         alt="JGSES Logo" class="footer-logo">

    <p>A non-profit pending 501(c)(3) charity organization status</p>
    <p><a href="mailto:jakigonzalezscholarship@gmail.com">jakigonzalezscholarship@gmail.com</a></p>
    <p>PO Box 104 Harvard, IL 60033-9782</p>
    <p>EIN: 39-3707357</p>
    <p>&copy; 2025 Jaki Gonzalez Spirit of Excellence Scholarship. All rights reserved.</p>
  </div>
</footer>
